certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
mysql==0.0.3
mysql-connector-python==8.3.0
mysqlclient==2.2.4
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
pandas==2.2.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
